<form action="/recipes/:id" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>Recipe Name: <input type="text" name="recipe_name" value="<%= @recipe.name %>"></p>
  <p>Ingredients: <input type="text" name="recipe_ingredients" value="<%= @recipe.ingredients %>"></p>
  <p>Cook Time: <input type="text" name="recipe_cook_time" value="<%= @recipe.cook_time %>"></p>
</form>