<form action="/recipes" method="post">
  <p>Recipe Name: <input type="text" name="recipe_name"></p>
  <p>Ingredients: <input type="text" name="recipe_ingredients"></p>
  <p>Cook Time: <input type="text" name="recipe_cook_time"></p>
</form>